@import 'reboot';

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    color:green;
    font-size: 56px;
    margin: 0;
    text-align: center;
}
p {
    color: #757575;
    font-size: 18px;
}